[submodule "support"]
	path = support
	url = https://github.com/tylerchurch/demo-support-repo
[submodule "analytics"]
	path = analytics
	url = https://github.com/tylerchurch/demo-analytics-repo
[submodule "image-processing"]
	path = image-processing
	url = https://github.com/tylerchurch/demo-image-processing-repo
